

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: myPersonnalFont;
	text-decoration: none;
    max-width: 96vw;
}

@font-face {
	font-family: myPersonnalFont;
	src : url(font/coolvetica/coolvetica\ condensed\ rg.otf);
}

:root {
	--z-fixed : 10;
	--z-modal : 100;
	--box-color: hsl(242,14%,10%)
}

body {
	color: white;
	background: linear-gradient( #132a39 , #4d8a95  );
}




header{
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 33px 9%;
	background: transparent;
}




a {
	color : #132a39;
	
}
.logo{
	font-size: 30px;
	font-weight: 700;
	color: white;
}
.navlist{
	display: flex;
}
.navlist a{
	color: white;
	margin-left: 60px;
	font-size: 20px;
	font-weight: 600;
	border-bottom: 2px solid transparent;
	transition: all .55s ease;
}
.navlist a:hover{
	border-bottom: 2px solid white;
}
#menu-icon{
	color: white;
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

.me{
	height: 100%;
	width: 100%;
	min-height: 100vh;	
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}
section{
	padding: 0 19%;
}
.me-text h5{
	font-size: 14px;
	font-weight: 400;
	color: white;
	margin-bottom: 40px;
}
.me-text h1{

	font-size: 90px;
	line-height: 1;
	color: white;
	margin: 0 0 45px;
}
.me-text h4{
	font-size: 18px;
	font-weight: 600;
	color: white;
	margin-bottom: 10px;
}
.me-text p{
	color: white;
	font-size: 15px;
	line-height: 1.9;
	margin-bottom: 40px;
}

.me-Personal {
	font-size: 25px;
	color: white;
}



.me-text a{
	display: inline-block;
	color: white;
	background: #4d8a95;
	border: 1px solid transparent;
	padding: 12px 30px;
	line-height: 1.4;
	font-size: 14px;
	font-weight: 500;
	border-radius: 30px;
	text-transform: uppercase;
	transition: all .55s ease;
}
.me-text a:hover{
	background: transparent;
	border: 1px solid white;
	transform: translateX(8px);
}
.me-text a.ctaa{
	background: transparent;
	border: 1px solid white;
	margin-left: 20px;
}
.me-text a.ctaa i{
	vertical-align: middle;
	margin-right: 5px;
}

.icons{
	position: absolute;
	top: 50%;
	padding: 0 9%;
	transform: translateY(-50%);
}
.icons i{
	display: block;
	margin: 26px 0;
	font-size: 40px;
	color: white;
	transition: all .50s ease;
}

.icons i:hover{
	color: #4d8a95;
	transform: translateY(-5px);
}
.scroll-down{
	position: absolute;
	bottom: 6%;
	right: 9%;
}
.scroll-down i{
	display: block;
	padding: 12px;
	font-size: 25px;
	color: white;
	background: #132a39;
	border-radius: 30px;
	transition: all .50s ease;
}
.scroll-down i:hover{
	transform: translateY(-5px);
}


.section_title {
	margin-top: 2vh;
	margin-bottom: 2vh;
}


/****** Work section ******/

.work_container {
	display: grid;
	grid-template-columns: repeat(auto-fill,330px) ;
	gap : 1.8rem;
	justify-content: center;
	padding-top: 1rem;
}


.work__filters {
	display: flex;
	justify-content : center;
	align-items: center;
	column-gap: .75rem;
	margin-bottom: 2rem;

}



.work_item{

	cursor: pointer;
	color : white;
	padding: .25rem .75rem;
	font-weight: 25px;
	border-radius: .5rem;

}


.work__card {
	background-color: #132a39;
	padding: 1.25rem;
	border-radius: .5rem;
}

.portfolio__item-details {
	display: none;
}


.work_img {
	border-radius: .5rem;
	margin-bottom: 2vh;
}

.work_title {
	font-size:25px ;
	font-weight: 25px;

}


.work__button {
	color : white;
	font-size: 25px;
	display: flex;
	align-items: center;
	column-gap: .25rem;
	cursor: pointer;
}


.work__button-icon {
	font-size: 1rem;
	transition: .3s;
}

.work__button:hover, .work__button-icon:hover {
	transform: translateX(.25rem);
}


.details__info {
	font-size: 1.2rem;
}
/******* Active item Work *****/


.active-work {
	background-color:#132a39 ;
	color : white
}


/**** POPUP PORTFOLIO *******/
.portfolio__popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rbga(0,0,0,0.5) ;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	z-index: var(--z-modal);
	opacity: 0;
	visibility: hidden;
	transition:  .3s;
}


.portfolio__popup.open {
	opacity: 1;
	visibility: visible;
}

.portfolio__popup-inner {
	background-color: var(--box-color);
	width: 900px;
	border-radius: .5rem;
	padding : 2.5rem;
	position: relative;

}


.portfolio__popup-content {
	align-items: center;
	column-gap: 3rem;
	display: flex;
}

.portfolio__popup-close {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	font-size: 1.5rem;
	color:#4d8a95 ;
	cursor: pointer;
}


.portfolio__popup-img {
	border-radius: .5rem;
}

.portfolio__item-subtitle {
	font-size: .875rem;
	margin-bottom: .25rem;
}


.details__title {
	font-size: 1.5rem;
	font-weight: 500;
}

.details__description {
	font-size: 1.2rem;
	margin-bottom: 2rm;
}


.details__info li b{
	margin-bottom: 1.2rem;
	text-transform: capitalize;
} 




.More{
	display: grid;
	grid-template-columns: repeat(auto-fill,330px) ;
	gap : 1.8rem;
	justify-content: center;
	padding-top: 1rem;
}




#contact{
	padding: 0 19%;
	grid-template-rows: repeat(1,50px) ;
	gap : 1.8rem;
	justify-content: center;
	margin-bottom: 5vh;
}

.DiversContact {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	min-width: 50vw;
}


#contact h2 {
	font-size: 50px;
}

.section_title i{
	padding : 1vw
}


/**** Scrollbar ****/

::-webkit-scrollbar {
	width: 0;
	background: transparent;

}

.scrollbar {
	position: fixed;
	top : 0;
	right: 0;
	width: 15px;
	height: 0;
	opacity: 0;
	background: linear-gradient(to top, #132a39 , #4d8a95  );
}


.clickScrollbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 15px;
	height: 100px;
}


@media (max-width: 1535px){
	header{
		padding: 15px 3%;
		transition: .2s;
	}
	.icons{
		padding: 0 3%;
		transition: .2s;
	}
	.scroll-down{
		right: 3%;
		transition: .2s;
	}
}
@media (max-width: 1460px){
	section{
		padding: 0 12%;
		transition: .2s;
	}
}
@media (max-width: 1340px){
	.me-img img{
		width: 100%;
		height: auto;
	}
	.me-text h1{
		font-size: 75px;
		margin: 0 0 30px;
	}
	.me-text h5{
		margin-bottom: 25px;
	}
}
@media (max-width: 1195px){
	section{
		padding: 0 3%;
		transition: .2s;
	}
	.me-text{
		padding-top: 115px;
	}
	.me-img{
		text-align: center;
	}
	.me-img img{
		width: 560px;
		height: auto;
	}
	.me{
		height: 100%;
		gap: 1rem;
		grid-template-columns: 1fr;
	}
	.icons{
		display: none;
	}
	.scroll-down{
		display: none;
	}

	
}

@media (max-width: 990px){
	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 300px;
		height: 40vh;
		background: #4d8a95;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 50px 20px;
		transition: all .55s ease;
	}
	.navlist a{
		margin-left: 0;
		display: block;
		margin: 7px 0;
	}
	.navlist.open{
		right: 0;
	}
	.work_container {
		display: grid;
		grid-template-columns: repeat(2,330px) ;
		gap : 1.8rem;
		justify-content: center;
		padding-top: 1rem;
	}
}

@media (max-width: 850px){
	.me-img img{
		width: 100%;
		height: auto;
	}
	.work_container {
		display: grid;
		grid-template-columns: repeat(2,330px) ;
		gap : 1.8rem;
		justify-content: center;
		padding-top: 1rem;
	}

.portfolio__popup-inner {
	background-color: var(--box-color);
	width: 500px;
	border-radius: .5rem;
	padding : 2.5rem;
	position: relative;
}


.portfolio__popup-content {
	align-items: center;
	column-gap: 3rem;
	display: flex;
	flex-direction: column;
}


}

@media (max-width: 500px){
	.me-img img{
		width: 100%;
		height: auto;
	}
	.work_container {
		display: grid;
		grid-template-columns: repeat(1,330px) ;
		gap : 1.8rem;
		justify-content: center;
		padding-top: 1rem;
	}
}